<?xml version="1.0"?>
<dependency_resolvers>
    <conda
            prefix="{{ galaxy_conda_prefix_resolved }}"
            conda_exec="{{ galaxy_conda_prefix_resolved }}/bin/conda"
            channels="conda-forge,bioconda,defaults"
            auto_init="true"
            auto_install="true" />

    <conda
            versionless="true"
            prefix="{{ galaxy_conda_prefix_resolved }}"
            conda_exec="{{ galaxy_conda_prefix_resolved }}/bin/conda"
            channels="conda-forge,bioconda,defaults"
            auto_init="true"
            auto_install="true" />

    <tool_shed_packages />
    <galaxy_packages />
</dependency_resolvers>